<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="topnav">
        <a href="/">
            <span role="img" aria-label="Home" title="Home">🏠</span>
        </a> | 
        <a href="/about">
            <span role="img" aria-label="About" title="About">📖</span>
        </a> | 
        <a href="{% url 'posts:list' %}">
            <span role="img" aria-label="Posts" title="Posts">🗞️</span>
        </a> | 

        {% if user.is_authenticated %}
            <a href="{% url 'posts:new-post' %}">
                <span role="img" aria-label="create post" title="create post">🆕</span>
            </a> |

            <a href="{% url 'users:users-profile' username=user.username %}">
                <span role="img" aria-label="user profile" title="user profile">👤</span>
            </a> |


            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button" aria-label="logout" title="logout">👋</button>
            </form> 
        {% else %}
            <a href="{% url 'users:register' %}">
                <span role="img" aria-label="User Registration" title="Register">📝</span>
            </a> |
            <a href="{% url 'users:login' %}">
                <span role="img" aria-label="Login" title="Login">🔑</span>
            </a> |
        {% endif %}

        <img src={% static 'images/snail.jpg' %}></img>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>