{% extends 'layout.html' %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
    <h2>This is the profile page for {{user.username}} </h2>
    <br>
    <h2>User posts:</h2>
    <br>

    <section>    
    {% for post in posts %}

        <article class = "post"> 
            <img 
            class="post_thumbnail"
            src="{{ post.banner.url }}"
            alt="{{ post.title }}" 
            />  
            <h2>
                <a href="{% url 'posts:page' slug=post.slug %}">
                {{ post.title }}
                </a>    
            </h2>
            <p> {{ post.date }} </p>
            <p> {{ post.body }} </p>
        </article>

    {% endfor %}
    </section>

{% endblock content %}