{% extends 'layout.html' %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
    <h1>This is the profile page for {{user.username}}</h1>
    <h2>User posts:</h2>

    {% for post in posts %}

    <article class = "post">   
        <h2>
            <a href="{% url 'posts:page' slug=post.slug %}">
            {{ post.title }}
            </a>    
        </h2>
        <p> {{ post.date }} </p>
        <p> {{ post.body }} </p>
    </article>

{% endfor %}

{% endblock content %}